 body {
     font-family: Arial;
     margin: 0;
     padding: 0;
 }
 
 nav {
     background: #aa5035;
     color: white;
     padding: 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .controls {
     padding: 15px;
     display: flex;
     gap: 10px;
 }
 
 #products {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
     gap: 20px;
     padding: 20px;
 }
 
 .card {
     border: 1px solid #ccc;
     padding: 15px;
     border-radius: 8px;
     background-color: #7fff7f;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 .card img {
     width: 100%;
     height: 150px;
     object-fit: contain;
 }
 
 button {
     background: green;
     color: white;
     border: none;
     padding: 8px;
     cursor: pointer;
     margin-top: 10px;
     transition: 0.3s ease;
 }
 
 button:hover {
     background: #000000;
     color: #ffffff;
 }
 
 .icon {
     width: 30px;
     height: 30px;
     cursor: pointer;
 }
 
 .controls {
     padding: 15px;
     display: flex;
     align-items: center;
 }
 
 .card p strong {
     color: #710080;
 }
 
 .card h4 {
     color: #e73535ea;
 }
 
 h2,
 h3 {
     background-color: #ffffff;
     font-style: bold;
     font-weight: 1000;
     color: #3251b6;
 }
 
 #category {
     margin-left: auto;
     background-color: #000000;
     color: #ffffff;
 }
 
 .card img:hover {
     transform: scale(1.1);
     background-color: #007c80;
 }
 
 .img-box {
     overflow: hidden;
 }
 
 .img-box img {
     width: 100%;
     height: 150px;
     object-fit: contain;
     transition: transform 0.4s ease;
 }
 
 .img-box:hover img {
     transform: scale(1.15);
 }